<h1>Airline Management</h1>

<!--   <a href="/passenger/add"><button>Add Passenger</button></a><br><br>
<a href="/passenger/view"><button>View Passenger</button></a><br><br>

<a href="/payment/add"><button>Add Payment</button></a><br><br>
<a href="/payment/view"><button>View Payment</button></a><br><br>

<a href="/booking/add"><button>Add Booking</button></a><br><br>
<a href="/booking/view"><button>View Booking</button></a><br><br>
<a href="/flight"><button>View Airplane Component</button></a><br><br>
<a href="/customer"><button>View Customer Component</button></a><br><br>
<a href="/notification"><button>View Notification Component</button></a>    -->