<h1>Airline Management</h1>

<button [routerLink]="'/passenger/add'">Add Passenger</button><br><br>
<button [routerLink]="'/passenger/view'">View Passenger</button><br><br>

<button [routerLink]="'/payment/add'">Add Payment</button><br><br>
<button [routerLink]="'/payment/view'">View Payment</button><br><br>

<button [routerLink]="'/booking/add'">Add Booking</button><br><br>
<button [routerLink]="'/booking/view'">View Booking</button><br><br>

<button [routerLink]="'/flight'">View Airplane Component</button><br><br>
<button [routerLink]="'/customer'">View Customer Component</button><br><br>
<button [routerLink]="'/notification'">View Notification Component</button>